.profile_bg{
  max-width: 100%;
}

.user_wall_wrapper{
  padding: 0 0 0 50px;
}

.descriptionBlock{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.largePhoto{
  display: block;
  width: 200px;
}